@model AddRecipeFormModel

@{
    ViewData["Title"] = "Add Recipe";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="text-center">Add Recipe</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Наименование">
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="10" class="form-control" placeholder="Начин на приготвяне..."></textarea>
            </div>
            <div class="form-group">
                <label asp-for="CookingTime"></label>
                <input asp-for="CookingTime" class="form-control" placeholder="Време за приготвяне">
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl"></label>
                <input asp-for="PictureUrl" class="form-control" placeholder="Линк към снимка">
            </div>
            <div class="form-group">
                <label asp-for="RecipeCategoryId"></label>
                <select asp-for="RecipeCategoryId" class="form-control">
                    @foreach (var category in Model.RecipeCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            @*<div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>*@

            <input class="btn btn-primary" type="submit" value="Save"/> 
        </form>
    </div>
</div>